.bodyCustomerCreate {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyCustomerAddVehicle {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  

.bodyCustomerAllSpots {
    background-image: url("../css/Images/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyCustomerDelete {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerDetails
{
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerEdit {
    background-image: url("../css/Images/parkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyCustomerIndex {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerPayBill {
    background-image: url("../css/Images/parkedcars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

.bodyCustomerViewVehicles {
    background-image: url("../css/Images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorCreate {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorCreateParkingSpot {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bodyContractorDelete {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorEdit {
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorIndex {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorParkingSpot{
    background-image: url("../css/Images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.header {
    width: 500px;
    border: 10px black solid;
    padding: 50px;
    margin: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
/*scroll bar*/
#container {
    width: 50%;
    margin: auto;
    padding: 20px 50px 50px 20px;
    border-bottom: 5px solid black;
    background-color: white;
    box-shadow: 10px 10px 5px black;
    justify-content: space-between;
}


    #container p {
        text-align: Center;
    }

.box {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: white;
    white-space: nowrap;
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    box-shadow: 2px 2px 2px #888888;
    padding: 5px 5px 5px 5px;
}

#container label {
    font-family: 'Abel', sans-serif;
    color: white;
    padding: 20px 50px 50px 20px;
    white-space: nowrap;
}


.bodyCustomerCreate {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bodyCustomerAddVehicle {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bodyCustomerAllSpots {
    background-image: url("../css/Images/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bodyCustomerDelete {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bodyCustomerDetails {
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bodyCustomerEdit {
    background-image: url("../css/Images/parkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyCustomerIndex {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    
}

.bodyCustomerPayBill {
    background-image: url("../css/Images/parkedcars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bodyCustomerViewVehicles {
    background-image: url("../css/Images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bodyContractorCreate {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bodyContractorCreateParkingSpot {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bodyContractorDelete {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorEdit {
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.bodyContractorIndex {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.bodyContractorParkingSpot {
    background-image: url("../css/Images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

.header {
    width: 500px;
    border: 10px black solid;
    padding: 50px;
    margin: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}
/*scroll bar*/
#container {
    width: 50%;
    margin: auto;
    padding: 20px 50px 50px 20px;
    border-bottom: 5px solid black;
    background-color: white;
    box-shadow: 9px 9px 4px #888888;
    justify-content: space-between;
}


    #container p {
        text-align: Center;
    }

.box {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: white;
    white-space: nowrap;
    color: black;
    font-family: 'Abel', sans-serif;
    font-size: 100%;
    box-shadow: 2px 2px 2px #888888;
    padding: 5px 5px 5px 5px;
}

#container label {
    font-family: 'Abel', sans-serif;
    color: white;
    padding: 20px 50px 50px 20px;
    white-space: nowrap;
}
