.bodyCustomerCreate{
    background-image: url("../css/Images/parkinglot2.jpg"); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
   
    
}
.bodyCustomerAddVehicle {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerAllSpots {
    background-image: url("../css/Images/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerDelete {
    background-image: url("../css/Images/parkinglot2.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerDetails {
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerEdit {
    background-image: url("../css/Images/parkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerIndex {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerPayBill {
    background-image: url("../css/Images/parkedcars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyCustomerViewVehicles {
    background-image: url("../css/Images/city.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorCreate {
    background-image: url("../css/Images/beach.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorCreateParkingSpot {
    background-image: url("../css/Images/carinemptyparkinglot.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorDelete {
    background-image: url("../css/Images/parkinglot2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorEdit {
    background-image: url("../css/Images/no-parking-1426520.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorIndex {
    background-image: url("../css/Images/peoplecars.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bodyContractorParkingSpot {
    background-image: url("../css/Images/city.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    width: 500px;
    border: 10px black solid;
    padding: 50px;
    margin: 30px;
    background-color: white;
    box-shadow: 10px 10px 5px #888888;
}