@import url(https://fonts.googleapis.com/css?family=Khula:700);

/*Home/Index.cshtml*/
body {
    background: #252424;
}

.hidden {
    opacity: 0;
}

.console-container {
    font-family: Khula;
    font-size: 6em;
    text-align: center;
    height: 200px;
    width: 600px;
    display: block;
    position: absolute;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: #888 6px 6px; 
}

.console-underscore {
    display: inline-block;
    position: fixed;
    top: -0.14em;
    left: 10px;
}
.nav-bar{
    background-color: black; 

}
.hero{
    
    position: relative; 
    
}
.highway{
    height: 200px; 
    width: 500%; 
    display: block; 
    background-image: url(road.png); 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 1; 
    background-repeat: repeat-x; 
    animation: highway 5s linear infinite; 

}
@keyframes highway{
    100%{
        transform: translateX(-3400px); 
    }
}
.car{
    width: 400px;
    left: 50%; 
    bottom: 100px; 
    transform: translateX(-50%); 
    position: absolute; 
    z-index: 2; 
}
.car img{
    width: 100%;
    animation: car 1s linear infinite; 
}
@keyframes car {
    100%{
        transform: translateY(-1px); 
    }
    50%{
        transform: translateY(1px); 
    }
    0%{
        transform: translateY(1-px); 
    }
}
.wheel{
    left: 50%; 
    bottom: 100px; 
    transform: translateX(-50%); 
    position: absolute; 
    z-index: 2; 
}
.wheel img{
    width: 72px; 
    height: 72px; 
    animation: wheel 1s linear infinite; 
}
.back-wheel{
    left: -130px; 
    position: fixed
}
.front-wheel {
    right: -118px;
    position: relative
}
@keyframes wheel{
    100%{
        transform: rotate(360edg); 
    }
}