@model ParkingApp.Models.Contractor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/new.css">
<h1 style="text-align: center; width: 500px; border-width: medium; padding: 50px; margin: 0 auto; background-color: white; box-shadow: 5px 5px 5px black;">Please Enter In Your Information
    
    </h1>
<body class="bodyContractorCreate">
</body>
<div>
    <div class="row">
        <div style="width: 500px; margin: auto; padding: 10px 6px 4px 6px; color:#808080; background-color: #ffffff; border: 2px solid" box-shadow: 5px 6px 6px black;>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-warning"></span>
                </div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="City" class="control-label"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="State" class="control-label"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin: 0 auto; color: black;">
                    <label asp-for="ZipCode" class="control-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
                
                <input type="submit" value="Create" class="btn btn-warning" />
                <a class="btn btn-warning" asp-action="Index">Back to List</a>
               
            </form>
        </div>
    </div>
</div>
<div class="pictures">
    <img src="/css/background-01.tif" />
</div>









@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
