@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WAIP</h1>
    <h2 class="display-4">Where Am I Going?</h2>
    <link rel="stylesheet" href="/css/parkingapp.css">
    <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    
</div>
