@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/parkingapp.css">

<head>
</head>
<body>

    
    <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    <div class="highway"></div>
    <div class="city"></div>

    <div class="car">
        <img src="/css/Car.png" />
    </div>
    <div class="wheel">
        <img src="/css/wheel.png" class="back-wheel" />
        <img src="/css/wheel.png" class="front-wheel" />

    </div>






</body>



