@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/parkingapp.css">


<div class="text-center">
    <h1 class="index">WAIP</h1>
    <h2 class="index">Where Am I Parking?</h2>
    
    <div class='console-container'><span id='text'></span><div class='console-underscore' id='console'>&#95;</div></div>
    
</div>

